#root > div > div {
  position: relative;
}

.content-header {
  margin-bottom: 0;
}

.layout-container:has(#root) {
  margin: 0;
}

.layout-container:has(#root) .page-content {
  margin-top: 0;
  margin-bottom: 0;
}
.layout-container:has(#root) .form-item {
  margin-block: 0;
}
